.feed {
  display: flex;
  justify-content: center;
}

.feed__inner-wrapper {
  flex: 1;
  max-width: 800px;
  background-color: white;
  border: 1px solid var(--border-color-light);
  padding: 2rem;
  border-radius: 8px;
}
