:root {
  --font-size-base: 1rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-small: 0.875rem;
  --font-size-tiny: 0.75rem;
  --font-size-medium: 1.1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;

  --font-family-head: "Permanent Marker", cursive;
  --font-family-base: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

.font-size-xlarge {
  font-size: var(--font-size-xlarge);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-medium {
  font-size: var(--font-size-medium);
}

.font-size-base {
  font-size: var(--font-size-base);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-tiny {
  font-size: var(--font-size-tiny);
}

.text-center {
  text-align: center;
}
